@inherits LayoutComponentBase

<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <BookingMenu/>
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <div class="d-flex flex-column flex-column-fluid">
                <div id="kt_app_content">
                    @Body
                </div>
            </div>
        </div>
    </div>
    <!--begin::Footer-->
    <div class="py-10" style="background-color: #FFFFF7;">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="d-flex flex-column gap-4">
                        <div class="fw-bold fs-2">Fun Asia Go</div>
                        <div class="d-flex flex-column gap-3">
                            <a href="/general-view" class="fs-3 text-black">General View</a>
                            <a href="/our-price" class="fs-3 text-black">Our Price</a>
                            <a href="/routes" class="fs-3 text-black">The Routes</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="d-flex flex-column gap-4">
                        <div class="fw-bold fs-2">Information</div>
                        <div class="d-flex flex-column gap-3">
                            <a href="/about-us" class="fs-3 text-black">About Us</a>
                            <a href="/contact-us" class="fs-3 text-black">Contact Us</a>
                            <a href="/term-condition" class="fs-3 text-black">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex flex-column gap-3 align-items-start">
                            <img class="h-80px" src="img/funasiago.svg" alt=""/>
                            <p class="fs-6 mb-0">
                                is managed by Fun Asia Travel Pty Ltd, which is incorporated in Sydney, Australia, with
                                business
                                registered address at: Level 12, 309 Pitt Street, Sydney NSW 2000 Australia, ACN 685 023
                                189
                            </p>
                        </div>
                        <div class="fs-3">Copyright 2025 © Fun Asia Go.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Footer-->
</div>