@page "/about-us"

<section class="py-10">
  <div class="container">
    <div class="d-flex flex-column gap-5">
      <h1 class="fs-2x fw-bold text-primary">About Fun Asia Tour</h1>
      <div class="d-flex flex-column gap-5">
        <div class="d-flex flex-column gap-3">
          <h3 class="fs-3 fw-bold text-primary">Why Fun Asia Tour</h3>
          <p class="fs-3">Knowing that many Asian countries are emerging tourism markets and many local attractions are still little known to the outside world, we design itineraries by combining world-famous sites with hidden attractions that others do not know yet.</p>
          <p class="fs-3">Knowing that the time of fixed itineraries, fixed days and size tour groups is over, we organise your tour in a way that gives you the freedom to decide your own itineraries, to choose the time and number of days on tour suitable to your personal plan, time schedule and interests.</p>
          <p class="fs-3">And all is with the price that is daily, year-round fixed, surely competitive and transparent.</p>
        </div>
        <div class="d-flex flex-column gap-2">
          <h3 class="fs-3 fw-bold text-primary">Expert Tour Organisers and Travel Management Executives</h3>
          <p class="fs-3">We at Fun Asia Tour are a team of experienced tour organisers, airline management executives and travel consultants who know well these underserved tourism markets of Asia and what more Asian countries can offer the world. We do not only create chances for you to see and hear but to deeply experience. In other words, we will take you much closer to the country and the people, indulge you with the unspoiled nature, their culture, history and the colourful daily life.</p>
          <p class="fs-3">We now begin with Malaysia, Thailand and Vietnam - the 3 widely chosen holiday destinations by the world and gradually expand to the whole of Asia.</p>
        </div>
        <div class="d-flex flex-column gap-2">
          <h3 class="fs-3 fw-bold text-primary">Our Vision</h3>
          <p class="fs-3">To lead a new wave of travel - where every step is a fusion of quality, creativity, and cultural essence, reshaping how the world discovers Asia.</p>
        </div>
        <div class="d-flex flex-column gap-2">
          <h3 class="fs-3 fw-bold text-primary">Our Mission</h3>
          <ul class="m-0 fs-3" style="list-style-type: decimal;">
            <li>To unlock the spirit of exploration through journeys of connection—where technology and emotion intertwine, creating intelligent and human-centred travel experiences.</li>
            <li>Travel is more than movement—it is about feeling, understanding, and bonding.</li>
            <li>We embrace technology not to replace, but to enhance the human journey.</li>
            <li>Our uniqueness lies in preserving and reimagining local identities.</li>
            <li>We bring together minds, resources, and inspiration from diverse regions and cultures.</li>
            <li>We grow with purpose—balancing performance, quality, and our commitments to people and planet.</li>
          </ul>
        </div>
        <div class="fs-3"><span class="text-primary fs-3 fw-bolder">Fun Asia Tour</span> &nbsp; is managed by Fun Asia Travel Pty Ltd, which is incorporated in Sydney, Australia, with business registered address at: Level 12, 309 Pitt Street, Sydney NSW 2000 Australia, ACN 685 023 189.</div>
      </div>
    </div>
  </div>
</section>