@page "/about-us"
<div class="container fs-4">
  <h1 class="fw-bolder fs-3x my-20">About Fun Asia Tour</h1>
  <h1 class="text-primary fw-bolder fs-3">Why Fun Asia Tour</h1>
  <p>
    Knowing that many Asian countries are emerging tourism markets and many local attractions are still little
    known to the outside world, we design itineraries by combining world-famous sites with hidden attractions
    that others do not know yet.
  </p>
  <p>
    Knowing that the time of fixed itineraries, fixed days and size tour groups is over, we organise your tour
    in a way that gives you the freedom to decide your own itineraries, to choose the time and number of days
    on tour suitable to your personal plan, time schedule and interests.
  </p>
  <p>
    And all is with the price that is daily, year-round fixed, surely competitive and transparent.
  </p>
  <h1 class="text-primary fw-bolder fs-3">Expert Tour Organisers and Travel Management Executives</h1>
  <p>
    We at Fun Asia Tour are a team of experienced tour organisers, airline management executives and travel
    consultants who know well these underserved tourism markets of Asia and what more Asian countries can
    offer the world. We do not only create chances for you to see and hear but to deeply experience. In other
    words, we will take you much closer to the country and the people, indulge you with the unspoiled nature,
    their culture, history and the colourful daily life.
  </p>
  <p>
    We now begin with Malaysia, Thailand and Vietnam – the 3 widely chosen holiday destinations by the world
    and gradually expand to the whole of Asia.
  </p>
  <h1 class="text-primary fw-bolder fs-3">Our Vision</h1>
  <p>
    To lead a new wave of travel - where every step is a fusion of quality, creativity, and cultural essence,
    reshaping how the world discovers Asia.
  </p>
  <h1 class="text-primary fw-bolder fs-3">Our Mission</h1>
  <ul style="list-style-type: decimal; padding-left: 20px; margin: 0;">
    <li>To unlock the spirit of exploration through journeys of connection—where technology and emotion
      intertwine, creating intelligent and human-centred travel experiences.
    </li>
    <li>Travel is more than movement—it is about feeling, understanding, and bonding.</li>
    <li>We embrace technology not to replace, but to enhance the human journey.</li>
    <li>Our uniqueness lies in preserving and reimagining local identities.</li>
    <li>We bring together minds, resources, and inspiration from diverse regions and cultures.</li>
    <li>We grow with purpose—balancing performance, quality, and our commitments to people and planet.</li>
  </ul>
  <p>
    <span class="text-primary fs-2x fw-bolder">Fun Asia Tour</span> &nbsp; is managed by Fun Asia Travel Pty Ltd, which is incorporated in Sydney, Australia, with business
    registered address at: Level 12, 309 Pitt Street, Sydney NSW 2000 Australia, ACN 685 023 189
  </p>
</div>