@page "/contact-us"
<div class="container my-10 fs-4">
    <div class="card ">
        <div class="card-body p-lg-17">
            <div class="row mb-3">
                <div class="col-md-6 pe-lg-10">
                    <form action="" class="form mb-15" method="post" id="kt_contact_form">
                        <h1 class="fw-bold text-gray-900 mb-9 fs-3x">Send Us Email</h1>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row">
                                <label class="fw-semibold mb-2">Name</label>
                                <input type="text" class="form-control form-control-solid" placeholder="" name="name"/>
                            </div>
                            <div class="col-md-6 fv-row">
                                <label class="fw-semibold mb-2">Email</label>
                                <input type="text" class="form-control form-control-solid" placeholder="" name="email"/>
                            </div>
                        </div>
                        <div class="d-flex flex-column mb-5 fv-row">
                            <label class="fw-semibold mb-2">Subject</label>
                            <input class="form-control form-control-solid" placeholder="" name="subject"/>
                        </div>
                        <div class="d-flex flex-column mb-10 fv-row">
                            <label class="fw-semibold mb-2">Message</label>
                            <textarea class="form-control form-control-solid" rows="6" name="message"
                                      placeholder=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="kt_contact_submit_button">
                            <span class="indicator-label">
                                Send Feedback</span>

                            <span class="indicator-progress">
                                Please wait...    <span
                                    class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </form>
                </div>
                <div class="col-md-6 ps-lg-10">
                    <img src="/img/all-tour-lines-map.webp" class="w-100 rounded mb-2 mb-lg-0 mt-2" alt=""
                         style="height: 486px"/>
                </div>
            </div>
            <div class="row g-5 mb-5 mb-lg-15 ">
                <div class="col-sm-6 pe-lg-10">
                    <div class="bg-light card-rounded d-flex flex-column flex-center flex-center p-10 h-100">
                        <i class="ki-duotone ki-briefcase fs-3tx text-primary"><span class="path1"></span><span
                                class="path2"></span></i>
                        <h1 class="text-gray-900 fw-bold my-5">
                            Let’s Speak
                        </h1>
                        <div class="text-gray-700 fw-semibold">
                            1 (833) 597-7538
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ps-lg-10">
                    <div class="text-center bg-light card-rounded d-flex flex-column flex-center p-10 h-100">
                        <i class="ki-duotone ki-geolocation fs-3tx text-primary">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <h1 class="text-gray-900 fw-bold my-5">
                            Our Head Office
                        </h1>
                        <div class="text-gray-700 fw-semibold">
                            Level 12, 309 Pitt Street, Sydney NSW 2000 Australia, ACN 685 023 189
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4 bg-light text-center ">
                <div class="card-body py-12">
                    <a href="#" class="mx-4">
                        <img src="img/brand-logos/facebook-4.svg" class="h-30px my-2"
                             alt="">
                    </a>
                    <a href="#" class="mx-4">
                        <img src="img/brand-logos/instagram-2-1.svg" class="h-30px my-2"
                             alt="">
                    </a>
                    <a href="#" class="mx-4">
                        <img src="img/brand-logos/youtube-2.svg" class="h-30px my-2"
                             alt="">
                    </a>
                    <a href="#" class="mx-4">
                        <img src="img/brand-logos/pinterest-p.svg" class="h-30px my-2"
                             alt="">
                    </a>
                    <a href="#" class="mx-4">
                        <img src="img/brand-logos/twitter.svg" class="h-30px my-2" alt="">
                    </a>
                    <a href="#" class="mx-4">
                        <img src="img/brand-logos/dribbble-icon-1.svg" class="h-30px my-2"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>