@page "/our-price"
<section class="py-10">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex flex-column gap-5">
                    <div>
                        <div class="fs-2x fw-bold">Fixed Day Price</div>
                        <div class="d-lg-flex flex-lg-row gap-3 align-items-baseline">
                            <div class="fs-3x fw-bold text-primary">USD $82</div>
                            <div class="fs-3">/ per person per day is guaranteed</div>
                        </div>
                    </div>
                    <div class="fs-3">
                        <p>Booking tours with funasiago.com, you will not only experience a new way to have your holidays all in your way but also enjoy one of the most competitive and transparent pricing structure on the current marketplaces. That is what makes us different.</p>
                        <p>Designed with circular routes as we call them
                the tour-lines which can flexibly be whole or partially combined into one trip. Each tour line has
                multiple places enroute where you can choose to join in the tour or drop off from it. This feature gives
                tour participants a freedom to decide on how many days to go on tour, which part of the available tour
                lines you want to join in or which places from the recommended lists of local attractions you want to
                discover, or even what local tastes and flavours you wish to try, and many more at your own choice for a
                holiday trip. This also means you can tailor your tour to fully match your style, interests and your
                time
                or plan, be it a short escape or an extended adventure or a strange land discovery. All is by your
                choice
                and under our care.</p>
                        <p>For all that, you only have to pay an highly competitive fixed day tour
                price year-round and the number of days you actually are on tours - no more, no less.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="p-20">
                    <img class="w-100" src="/img/fixed-per-day.webp" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10 bg-light-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column gap-10">
                    <div class="d-flex flex-column gap-3">
                        <div class="fs-3x text-primary fw-bold">The Tour Lines</div>
                        <div class="d-flex flex-column gap-3">
                            <div class="d-flex flex-row gap-2">
                                <img class="h-25px" src="img/icons/uil-usd-circle.svg" alt=""/>
                                <div class="text-primary fs-3 fw-bold">Daily Rate:</div>
                            </div>
                            <div class="text-primary fw-bold fs-3">
                                <ul class="m-0">
                                    <li>Adult from 12 years old and up : USD $82 per person.</li>
                                    <li>Children from 2 to 11 years old : USD $73 per person.</li>
                                    <li>Infants aged below 2 years old : Free of Charge.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fs-3">
                        <p>There are extra charges incurred for some special reasons. Please be rest-assured that these exceptional
            charges can be applied ONLY with genuine reasons such as special service added-on or when we do not let
            you miss a rare chance to experience and know more of local life such as one-time culture shows or local
            fairs and festivals or in case of a the chance to stay a night out at high sea on a spacious cruise at
            world heritage site of Halong bay in Vietnam. … Exceptional rates if the case may be, shall be made known
            to you at the time of booking.</p>
                    </div>
                    <div class="d-lg-flex flex-lg-row gap-18 fs-3">
                        <div class="d-flex flex-column gap-2">
                            <div class="fw-bold text-primary">The Tour Price Includes:</div>
                            <ul class="m-0" style="list-style-type: decimal;">
                                <li>Hotel accommodations:
                                    <ul>
                                        <li>Three-star hotel accommodations based on twin-share with private facilities.</li>
                                        <li>With every booking of the whole tour line, 1 night hotel will be upgraded to 4 star.</li>
                                        <li>All hotels offer daily breakfast.</li>
                                        <li>Some hotels at mountainous areas may not be accredited with stars, however, they still have 3 or 4 star standard facilities and service, safe and clean.</li>
                                    </ul>
                                </li>
                                <li>Sight-seeing and discovery tours on modern, clean and fully air-conditioned coaches or buses.</li>
                                <li>English or Chinese speaking and well-trained tour guides and licensed coach/ bus drivers.</li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <div class="fw-bold text-danger">The Tour Price Excludes:</div>
                            <ul class="m-0" style="list-style-type: decimal;">
                                <li>Travel documents, travel insurance, entry visa fees.</li>
                                <li>Optional on-tour activities and entrance tickets to attractions.</li>
                                <li>Please refer to Optional On-Tour Activities list.</li>
                                <li>Service gratuity for the Tour Guides Driver from 5 USD/day/per passenger per day applied to paying adult tour price members.</li>
                                <li>International or connecting flight tickets and flight related expenses.</li>
                                <li>Meals (lunch, dinner and drinks).</li>
                                <li>Personal expenses such as laundry, internet, phone calls, etc.</li>
                                <li>City entrance fees and taxes if applicable.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-column fs-3 gap-2">
                        <div class="fw-bold fs-3 text-primary">Notes on exceptional cases of extra charge</div>
                        <ul class="m-0">
                            <li>Vietnam North East and Vietnam North West lines
                                <ul>
                                    <li>Halong Bay attraction is designed to be included in
                    2 lines Vietnam North East ad Vietnam North West. Halong Bay in North of Vietnam is the world-known
                    attraction that has become a must-see attraction of the country. On Halong Bay day, we offer you the
                    chance to discover more this World Heritage Site by arranging for you to stay overnight on a 4 stars
                    cruise going around the Bay out at sea with private twin-share cabin and 3 meals: 1 dinner and 2 lunches
                    on board. Extra charge of USD60 per person per day in Halong Bay cruise for lines Vietnam North East and
                    Vietnam North West and the extra charge is for an over-night onboard a 4-star cruise out at the sea and
                    paid for 1 dinner and 2 lunches.</li>
                                    <li>Need information of any other exceptional charges from Land tour
                    partners.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex flex-column fs-3 gap-2">
                        <div class="fw-bold fs-3 text-primary">Other Notes relating to rates or charges</div>
                        <ul class="m-0">
                            <li>Please note that overnight accommodation will not be provided on the final day of the tour.</li>
                            <li>Children aged from 2 to 11, hotel beds in twin-share room and seats on coaches will be provided.</li>
                            <li>Infants aged under 2 will be Free of Charge and no hotel beds and coach seat (lap only) are provided.</li>
                            <li>Please note that the drop-off times are for reference only and may vary slightly due to traffic/unforeseen circumstances.</li>
                            <li>There will be an extra charge of.</li>
                            <li>There are group activities to be arranged on tours and these activities are compulsory for all tour participants. Costs to be paid by the participants.</li>
                            <li>Compulsory gratuity/tipping is set at $5 USD per person per day to be paid direct to the tour guides or the driver.</li>
                            <li>Hotel rooms booked are based on twin-share. If participant prefers single room, he/ she can book single room at time of booking. The single room supplement charge is ………… per person per night. If participant chooses to share the room with another tour member (of the same gender), the room charge applied will be twin-share instead and the fixed tour price is applied. After the twin-share arrangement is made, change is not allowed provided the upgrade requesting participant pays for 2 single room supplements. Any problem arising from room sharing is on the tour member.</li>
                            <li>Requests for Pre/ Post tour hotel rooms are handled separately.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column gap-3">
                    <div class="fs-2x text-primary fw-bold">Pre/ Post Tour Hotel Accommodation</div>
                    <div class="fs-3">
                        <p>Pre/ Post tour hotel accommodations can be arranged by the participants themselves or can be booked through Fun Asia Tour. Fun Asia Tour will provide hotel accommodation upon requests.</p>
                        <p>If you want us to book Pre/ Post tour hotels, you can request us at the time you make the tour booking or you can send request to us by emails at the latest 7 days before your departure date.</p>
                        <p>Payments for Pre/ Post hotel accommodation can be made together with the tour payment if the request made together with the tour booking. If the requests are sent to Fun Asia Tour at a later date, the payment will be made upon booking confirmation.</p>
                        <p>The hotel room rates applied for Pre/Post tour accommodation may be different from the ones used for tour price. Single room is at per person per night and at USD 50 per person per night for twin share.</p>
                    </div>
                    <div class="fs-2x text-primary fw-bold">Pre/ Post Pick-up and Transfers</div>
                    <div class="fs-3">
                        <p>Pre/ Post pick-up and transfers can be arranged by the participants themselves or can be booked through Fun
        Asia Tour. Fun Asia Tour will provide transportation upon requests.</p>
                        <p>If you want us to book Pre/
        Post tour pick-up and transfers, you can request us at the time you make the tour booking or you can send
        request to us by emails at the latest 7 days before your departure date.</p>
                        <p>Payments for Pre/ Post
        pick-up and transfers can be made together with the tour payment if the request made together with the tour
        booking. If the requests are sent to Fun Asia Tour at a later date, the payment will be made upon booking
        confirmation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>