@page "/term-condition"

<div class="container my-10 fs-4">
    <div class="row mb-10">
        <h1 class="fw-bolder fs-3x">Terms &amp; Conditions</h1>
        <h2 class="fw-bolder text-primary">1. Understanding the Terms of Use before making your booking.</h2>
        <div class="d-flex flex-column">
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">1</span> All the below Terms and Conditions are binding on both tour operator and you
                as well as all Fun Asia Tour
                customers who book the tours with us.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">2</span> To protect your rights, you are strongly recommended to read
                carefully and to understand all these Terms and Conditions before proceeding. By confirming your booking
                of the tours, you acknowledge and confirm that you have read, understood, and fully agreed to comply
                with
                the Terms and Conditions.
            </li>
        </div>
        <h2 class="fw-bolder text-primary">2. Booking procedures</h2>
        <h3 class="fw-bolder text-primary">How to make a booking</h3>
        <div class="d-flex flex-column">
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">1</span> Click into a package or "Book now" from the Homepage, choose "Joining Point"
                + "Choose Date" + "Number of Passengers".
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">2</span> Click "Customize your tour" or "Next Step" on the right side.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">3</span> The booking system will guide you step by step through the booking process.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">4</span> Click “Pay Now” for payment.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">5</span> After full payment is made, the booking is confirmed and a Tour Voucher will
                be
                issued and sent to you via your registered email address.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">6</span> Please down-load and print the Tour Voucher and bring along with you as you
                need to show it when you first board the coaches.
            </li>
        </div>
        <h3 class="fw-bolder text-primary">Good to know when you make the booking</h3>
        <div class="d-flex flex-column">
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">1</span> The accurate Information: The booking form must be filled up with complete
                and accurate information for
                the booking to be confirmed. Failure to do so, the booking may not be accepted or be cancelled without
                any notice to you..
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">2</span> The Personal Contact: Please provide us with both your correct email address
                and the mobile number for verification purposes.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">3</span> The Payment: Full payment is required by the due
                date. Late payment may result in your booking automatically cancelled.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">4</span> Your Flights: It is
                advisable that you should book your flights only after your booking of the tours is confirmed.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">5</span> Travel Documents: You and other tour participants are fully responsible for
                travel documents that include
                Passports, Entry Visa to the countries of destinations and any other travel documents as required by the
                arriving countries. All travel documents must be valid for at least 6 months from the arrival day.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">6</span> Health Condition: These tours may not be suitable for those with limited
                mobility. Some local attractions may
                require participants to travel on foot. Therefore, you should consider carefully before booking the
                tours. No refunds will be applied for any activities missed due to that reason. Wheelchair and personal
                assistance to wheelchair users are   not guaranteed.
            </li>
            <li class="d-flex align-items-center py-2 text-justify">
                <span class="me-5">5</span> Need Help? Contact us at <a href="mailto:Sales@funasiago.com"
                                                                        target="_blank" rel="noopener noreferrer">Sales@funasiago.com</a>
                for any inquiries..
            </li>
        </div>
    </div>

    <h1 class="fw-bolder fs-3x my-6">The Pricing</h1>
    <h1 class="fw-bolder text-primary">1. The Pricing Structure</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Fixed Tour Pricing
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Day tour prices are fixed, with specified exceptions.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Uniform Country Pricing
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Prices are consistent within each country.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Surcharges
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Additional charges may apply only for specific attractions or special services,
            and must be clearly
            stated in the tour quotation with valid justification.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Age-Based Pricing
        </li>
        <li class="d-flex align-items-center py-2 ms-10 text-justify">
            <span class="me-5">-</span>Adult and children aged 12 and up: Full adult price applies.
        </li>
        <li class="d-flex align-items-center py-2 ms-10 text-justify">
            <span class="me-5">-</span>Children aged 2-11: 90% of adult price. Includes extra hotel bed and separate
            coach seat.
        </li>
        <li class="d-flex align-items-center py-2 ms-10 text-justify">
            <span class="me-5">-</span>Infants under 2: Free of charge. No extra bed or separate coach seat provided.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">2. Services Included in the Tour Price</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Accommodation
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>3-star and 4-star hotels or equivalent, based on twin-share with breakfast.
            Accommodation is not
            provided on the final day of the tour.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Transportation
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Modern, clean, and air-conditioned buses and coaches.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Tour Guides
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Professional, well-trained guides fluent in English or Chinese. Other languages
            may be available upon
            request.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">3. Services Excluded from the Tour Price</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>International and connecting
            flight tickets and flight related charges.
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>Travel insurance, travel
            documents and visa fees.
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>Meals not specified in the
            itinerary (e.g., lunches, dinners, drinks).
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>Optional activities and
            entrance tickets not listed in the itinerary.
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>Personal expenses (e.g., phone
            calls, laundry, internet).
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>Local city entrance fees and
            tourism taxes.
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>
            <span class="fw-bold fs-2">Gratuities</span> : USD $5 per person (adult rate) per day, payable directly to
            guides and drivers.
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="bullet me-5"></span>Fun Asia Tour is not
            responsible for loss of personal belongings or financial loss due to accidents, delays, weather, strikes, or
            other uncontrollable events.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">4. Services Excluded from the Tour Price</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Booking a Simple Room
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Tour prices are based on twin-share. Single room supplements are available
            and quoted with the tour price.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Requests must be made at the time of booking.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Downgrade to twin-share is only possible if the participant finds a
            room-mate to share.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Upgrading to a Single Room
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>If no single room is requested at booking, twin-share is assumed.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Room-mates must be selected by participants.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Post-booking upgrade to single room is only accepted if the participant
            agrees to pay for two single room supplements.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">5. Cancellation, Rebook and Refund</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Cancellation Charges
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>21+ days before departure: Full refund, no charge.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>8–20 days before departure: 50% of total tour price.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Within 7 days of departure: 100% of total tour price, no refund.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>On-tour cancellation/withdrawal: No refund.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Refund Method
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Refunds are processed via the original payment method. Processing time
            depends on the issuing bank.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Rebooking Policy
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Rebooking is not permitted. To rebook, cancel the original booking and
            create a new one. Cancellation fees may apply.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">6. Payment</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Direct Customers
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Bookings via funasiago.com require full payment upon confirmation.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Failure to pay on time may result in automatic cancellation.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>No credit card surcharge applies.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>GSA and Appointed Agents
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Bookings made 16+ days before departure: Full payment due by Day 16 before
            departure.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Bookings within 16 days of departure: Full payment
            required upon confirmation.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Bank transfers are preferred. Credit card payments incur a 3% transaction
            fee.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">7. Pre/Post Tour Services</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Additional Transfers & Accommodation
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Transfers and hotel accommodation for the day before and/ or after the
            tours can be provided upon requests.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>If you want us to arrange for you the pre/post tour transfers and hotels,
            you can request at the time when you book the tours or by separate requests sent to us 7 days at the latest
            before your departure dates.
        </li>
        <li class="d-flex align-items-center py-2 text-justify ms-10">
            <span class="bullet me-5"></span>Payments for pre/post tour transfers and hotel bookings can be made
            together with the tour or upon confirmation in case of separate requests.
        </li>
    </div>
    <h1 class="fw-bolder fs-3x my-6">Guidelines Of Responsibilities and Liabilities</h1>
    <h1 class="fw-bolder text-primary">1. Essential Booking Notes</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span> Read First
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Please read and understand the booking Terms and Conditions before buying your
            tours.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Travel Disruptions
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Fun Asia Tour is not liable for any costs, losses, or distress resulting from
            missed or delayed connecting flights, trains, or buses, nor from illness, weather disruptions, strikes, or
            other unforeseen events.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Third-Party Providers
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Our tours are operated in partnership with independent service providers (e.g.,
            hotels, resorts, transport companies). We are not responsible for any loss, extra expenses, or distress
            caused by circumstances at these premises.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Travel Documents
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Passports and travel documents must be valid for at least six months from your
            arrival date. Entry visas must be obtained in advance. Any penalties, delays, or denied entry due to invalid
            documentation are at your own expense.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Tour Withdrawal
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>If you choose to withdraw from the tour after it has commenced, no refund will be
            provided.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Itinerary Adjustments
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>While we strive to deliver the planned itinerary, accommodations, and activities,
            changes may occur due to specific circumstances. No compensation or refund will be issued for such
            adjustments.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Right to Modify
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Fun Asia Tour reserves the right to modify itineraries, hotels, or transportation
            as needed due to environmental or operational factors. Equivalent quality will be maintained.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Room Sharing
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>We are not responsible for any disputes or misconduct arising from room-sharing
            arrangements.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Conduct and Removal
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>We reserve the right to remove any participant whose behavior causes harm or
            disruption to the group. No further responsibility will be held toward that individual.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">Optional Activities
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Participation in on-tour activities is optional. No refunds will be issued for
            unused activities.
        </li>
    </div>
    <h1 class="fw-bolder text-primary">Other important Notes and Tips to Fun Asia Tour participants</h1>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Travel Insurance
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>We strongly recommend that all participants hold valid travel insurance covering
            the entire trip. Proof may be required in countries where insurance is mandatory. Insurance may be purchased
            through our local operators - please contact us if needed.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Legal Compliance
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Participants are responsible for complying with local laws. Fun Asia Tour is not
            liable for issues related to unlawful items or border entry rejections.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Personal Belongings
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>You are solely responsible for your belongings. Fun Asia Tour, its staff, guides,
            and drivers are not accountable for theft, loss, or damage.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Media Usage
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>We may use photos and videos taken during the tour for promotional purposes. If
            you object to specific media, please notify our tour guide.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Booking Voucher
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Present your Booking Voucher to the tour guide or driver when boarding the coach
            on Day 1.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Late Arrivals
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Tours will depart on schedule. Late arrivals may miss the day’s activities. In
            emergencies, contact the number on your Tour Voucher or speak with your guide.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Cash and Expenses
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Bring sufficient cash for optional activities, meals, and entrance fees. Refer to
            the Optional Activities Price List for guidance.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Medications
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Carry essential medications, including motion sickness remedies and basic first
            aid supplies.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Local Cuisine
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Enjoy local flavors at your discretion. Our guides can assist with recommendations
            and reservations. Please inform them of any food allergies.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Luggage Guidelines
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Each participant may bring one suitcase (max 30kg, total dimensions not exceeding
            158cm). Gratuities do not include porterage. Drivers will assist with loading/unloading. Extra bags may
            incur charges or be subject to space availability.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Local Regulations
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Respect local customs and laws. Do not carry prohibited items across borders. In
            many Asian countries, temples are key attractions - observe signage and etiquette. Smoking is prohibited in
            public areas. Our guides will assist with local rules at each site.
        </li>
        <li class="d-flex align-items-center py-2 text-justify fw-bold">
            <span class="bullet bullet-dot w-10px h-10px me-5"></span>Safety and Awareness
        </li>
        <li class="d-flex align-items-center py-2 text-justify">
            <span class="me-5"></span>Familiarize yourself with your destination’s weather, customs, and culture. Keep
            valuables secure, avoid leaving luggage unattended, and remain alert in crowded areas.
        </li>
    </div>
    <h1 class="fw-bolder fs-3x my-6">After Tour Correspondences</h1>
    <p class="text-justify">We always value feedback and comments from our customers since feed-back, recommendations
        and complaints are of great help to us in improving the qualities of our services.</p>
    <p class="text-justify">If you have any questions or recommendations or even complaints relating to the tours, we
        appreciate that you send them to us as soon as you can after the tours. Do not forget to include your booking
        number and any relevant details of the tour when communicating with us.</p>
    <div class="d-flex justify-content-start align-items-center">
        <img class="me-5" src="img/icons/dashicons-email-alt2-2.svg" alt=""/>
        <div>Email <a href="mailto:customerservice@funasiago.com" target="_blank" rel="noopener noreferrer"
                   ><span class="text-wrapper-133">customerservice@funasiago.com</span></a></div>
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <img class="me-5" src="img/icons/dashicons-backup.svg" alt=""/>
        <div>Response Time: Within 3 weeks of receipt.</div>
    </div>
    <p class="text-justify">As you already become valued customers of our Fun Asia Tour, we may contact you after the
        tour for your feedback in the form of a short survey. If you are contacted for that purpose, please spare few
        minutes of your time to fill in the questionnaire sent to you. We all the times love to hear from you and we
        thank you so much for that.</p>
</div>